<h1>The Kids</h1>

<% if current_user.admin? %>
  <p><%= link_to "Add a Kiddo", new_admin_kid_path, class: 'btn btn-info' %></p>
<% end %>

<%= link_to "Kid View", class: 'btn btn-light', :disabled => true %>
<%= link_to "Week View", events_path, class: 'btn btn-light' %>

<div class='kids'>
    <% @kids.each do |kid| %>
    <div id="kid-<%= kid.id %>">
      <% if current_user.admin? %>
        <h3><%= link_to kid.name, admin_kid_path(kid) %></h3>
      <% else %>
        <h3><%= link_to kid.name, kid_path(kid) %></h3>
      <% end %>
      <h5># of Events:   <%= kid.events.count %></h5>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Event</th>
              <th scope="col">Day</th>
            </tr>
          </thead>
          <% kid.events.each do |event| %>
            <tbody>
              <tr>
                <td><%= event.title %></td>
                <td><%= event.day_of_week %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>
