<h1>The Kids!</h1>

<div class='kids'>
  <% @kids.each do |kid| %>
  <div id="kid-<%= kid.id %>">
    <p><%= link_to kid.name, admin_kid_path(kid) %></p>
    <p><% kid.events.each do |event| %></p>
        <%= event.title %>
        <%= event.day_of_week %>
      <% end %>
  </div>
  <% end %>
</div>


<%= link_to "Add a Kiddo", new_admin_kid_path %>
