<div class='kid-header'>
  <h1><%= @kid.name %></h1>

  <ul type="none">
    <li><%= link_to "Edit", edit_admin_kid_path(@kid), class: 'btn btn-info btn-sm' %></li>
    <li><%= link_to "Delete", admin_kid_path(@kid), method: :delete,
        data: {confirm: "Are you sure you want to delete #{@kid.name}?"},
        class: 'btn btn-danger btn-sm' %></li>
  </ul>
</div>

<h3>Events</h3>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope='col'></th>
        <th scope='col'>Location</th>
        <th scope='col'>Day</th>
        <th scope='col'>Time</th>
        <th scope='col'>Notes</th>
        <th scope='col'></th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
    <% @kid.events.each do |event| %>
      <div id="event-<%= event.id %>">
        <tr>
          <td class="title"><%= event.title %></td>
          <td><%= event.location %></td>
          <td><%= event.day_of_week %></td>
          <td><%= event.time.in_time_zone("MST").strftime("%l:%M %P") %></td>
          <td><%= event.description %></td>
          <td><%= link_to "Edit", edit_admin_kid_event_path(@kid, event) %></td>
          <td><%= link_to "Delete", admin_kid_event_path(@kid, event), method: :delete,
                data: {confirm: "Are you sure you want to delete #{event.title}?"} %></td>
        </tr>
      </div>
    <% end %>
  </tbody>
</table>
</div>

<div class='kid-header'>
  <p><%= link_to "Add New Event", new_admin_kid_event_path(@kid), class: 'btn btn-primary' %></p>
  <p><%= link_to "Back to All Kiddos", admin_kids_path, class: 'btn btn-info' %>
</div>

<div class='list'>
  <div class='sub-list'>
<h5>Users who can view <%= @kid.name %></h5>
  <% @kid.users.each do |user| %>
    <% if user.default? %>
    <div id="user-<%= user.id %>">
      <p><%= user.name %>: <%= user.title.capitalize %></p>
      <p><%= link_to "Remove User", admin_user_kid_path(user_id: user.id, kid_id: @kid.id),
          method: :delete, class: 'btn btn-danger btn-sm',
          data: {confirm: "Delete #{user.name} from viewing #{@kid.name}?"}%>
    </div>
    <% end %>
<% end %>
</div>

<div class='sub-list'>
  <h5>Admins who can edit <%= @kid.name %></h5>
    <% @kid.users.each do |user| %>
      <% if user.admin? %>
      <div id="user-<%= user.id %>">
        <p><%= user.name %>: <%= user.title.capitalize %></p>
      </div>
      <% end %>
  <% end %>
</div>
</div>
